<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List of Credit Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="secondary">
      <ion-label>Select reward month</ion-label>
      <ion-select [(ngModel)]="currentMonth"  placeholder="pick a month" okText="Okay" cancelText="Dismiss">
          <ion-select-option *ngFor="let month of getAllRewardMonths(); let idx=index">{{month}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
      <ion-item-divider>
        Credit card name
        <div class="item-note" slot="end">Reward detail</div>
      </ion-item-divider>
    <ion-item *ngFor="let item of currentCards; let idx=index" (click)="updateCard(item)">
      <!-- <ion-icon [name]="item.icon" slot="start"></ion-icon> -->
      {{item.cardName}}
      <div class="item-note" slot="end">
        {{getCurrentMonthReward(item)}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newCard()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
